@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Lilita+One');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Helvetica');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue');

@tailwind base;
@tailwind components;
@tailwind utilities;

.web-name {
    text-shadow: .1em .1em 0 hsl(200 50% 30%);
}
* {
    box-sizing: border-box;
    margin: 0;
  }

html, body {
    overflow-x: hidden;
}

.nav-links ul li a {
    display: inline-block;
    position: relative;
}

.nav-links ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffce2c;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-links ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.ui-project {
    display: flex;
}

.title {
    text-align: center;
    max-height: 200px;
}

.title main-title{
    text-transform: uppercase;
    font-weight: bold;
}

.frontend-project {
    background-color: #fcfcfc;
    padding: 1rem;
    box-shadow: 5px 5px 5px #b8b8b8;
    border-radius: 20px;
    border: 1px solid rgba(209, 209, 209, 0.486);
}

.proj-title {
    font-family: 'Bebas Neue';
    letter-spacing: 0.1em;
}

.proj-image-frontend img{
    box-shadow: 3px 3px 5px rgba(173, 173, 173, 0.651);
    min-height: 256px;
}

.github {
    margin-top: 1em;
    padding: 10px;
    display: flex;
    justify-content: center;
    column-gap: 10px;
    border-top: 2px solid #b8b8b8;
}
.github :hover{
    cursor: pointer;
    transform: scale(1.5);
    transition-timing-function: ease-in;
    transition-duration: 200ms;
}

.github iconify-icon:hover{
    border-radius: 50%;
    border: 2px solid #6B3706;
    box-shadow: 0 0 10px #757575;
}
.tech-stack {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    justify-content: center;
}

.tech-stack h1 {
    font-size: 12px;
    margin-top: .5rem;
    border: 2px solid #6B3706;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
}
.tech-stack h1:hover {
    border: 2px solid #c2650e;
    background-color: #fcff627a;
}

.nav-links ul li:nth-child(2){
    transition-delay: 200ms;
}
.nav-links ul li:nth-child(3){
    transition-delay: 400ms;
}
.nav-links ul li:nth-child(4){
    transition-delay: 600ms;
}

.proj-image {
    flex: 1;
}

#btn-ui-proj {
    display: flex;
    align-items: center;
}

.animate {
    opacity: 0;
    filter: blur(5px);
    transition: all 2s;
}

.hid-left {
    transform: translateX(-100%);
}

.hid-right {
    transform: translateX(100%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.resume-type :is(a){
    padding: 10px 30px 10px 30px;
    background-color: white;
    border-radius: 1.5rem;
    border-style: solid;
    border-width: 3px;
    border-color: #757575;
}

.resume-type :is(a):hover{
    color: white;
    background-color: rgba(108, 122, 137,1);
}
.modal{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal::backdrop{
    background-color: rgba(237, 231, 255, 0.4);
}

.close-modal {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 30px 0 0;
}

.news-ticker-container {
    bottom: 0;
    font-family: "Roboto", sans-serif;
    box-shadow: 3px -2px 0 1px rgba(0, 0, 0, 0.3);
}

.news-ticker-container .news-ticker-header {
    position: absolute;
    background: #df2020;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 24px;
    color: white;
    font-weight: bold;
    z-index: 200;
}

.news-ticker-container ul {
    display: flex;
    list-style: none;
    margin: 0;
    animation: scroll 35s infinite linear;
}

.news-ticker-container ul li {
    white-space: nowrap;
    padding: 5px 30px;
    color: #494949;
    position: relative;
}

.news-ticker-container ul li::after {
    content:"";
    width: 1px;
    height: 100%;
    background: #525252;
    position: absolute;
    bottom: 0;
    right: 0;
}

.news-ticker-container ul li:last-child::after {
    display: none;
}

@keyframes scroll {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-2450px);
    }
}

@media only screen and (max-width: 600px) {
    .ui-project, .frontend-wrapper {
        display: block;
    }
    .frontend-project{
        margin: 2rem 0rem 2rem 0rem;
    }
    .proj-image-frontend img{
        min-height: 128px;
    }
    .proj-wrapper{
        width: 100%;
        margin-top: 1em;
        padding: 0;
    }
    .proj-image{
        justify-content: center;
    }
    .right-side{
        justify-content: center;
    }
    .resume-type {
        text-align: center;
    }
    .modal {
        padding-left: 10px;
        padding-right: 10px;
    }
    .close-modal {
        position: absolute;
        top: 0;
        right: 0;
        margin: 5px 10px 0 0;
    }
    .technology{
        flex-flow: wrap;
        justify-content: center;
    }

}