@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Lilita+One');

@tailwind base;
@tailwind components;
@tailwind utilities;

.web-name {
    text-shadow: .1em .1em 0 hsl(200 50% 30%);
}
* {
    box-sizing: border-box;
    margin: 0;
  }

.ui-project {
    display: flex;
}

.title {
    text-align: center;
    min-height: 100px;
    max-height: 200px;
}

.title main-title{
    text-transform: uppercase;
    font-weight: bold;
}

.frontend-project {
    background-color: #e7e7e7;
    padding: 1rem;
}

.github {
    padding: 1rem;
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.github :hover{
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .ui-project, .frontend-wrapper {
        display: block;
    }
    .frontend-project{
        margin: 2rem 0rem 2rem 0rem;
    }
    .proj-wrapper{
        width: 100%;
        margin-top: 1em;
    }
    .proj-image{
        justify-content: center;
    }

    .right-side{
        justify-content: center;
    }
}

.proj-image {
    flex: 1;
}