<section class="aboutMe-section grid lg:grid-cols-12 grid-cols-1 gap-4 lg:mx-10 mx-8 bg-palette-500 lg:py-32 md:py-24 py-20 text-lg text-white">
    <div class="left-side lg:col-start-1 lg:col-end-8 lg:pl-20 lg:pr-16 text-justify lg:order-1 order-2">
        <span class="font-bold text-palette-300">Performer, critical,</span> and <span class="font-bold text-palette-300">team player</span> on collaborative group projects tasked with leading and assisting building of <span class="font-bold text-palette-300">user interfaces</span> & <span class="font-bold text-palette-300">front-end development</span>, and assuring project requirements are met and functional.

        <hr class="lg:mt-8 mt-4">

        <div class="tech-stacks lg:mt-8 mt-4">
            <h1 class="font-bold">Computer Languages and Frameworks</h1>
            <div class="tech-grid grid grid-cols-5 justify-items-center gap-y-3 mt-4">
                <iconify-icon icon="vscode-icons:file-type-html" width="60" class="scale-100 hover:scale-150 ease-in duration-300"></iconify-icon>
                <iconify-icon icon="vscode-icons:file-type-css" width="60" class="scale-100 hover:scale-150 ease-in duration-300"></iconify-icon>
                <iconify-icon icon="logos:javascript" width="60" class="scale-100 hover:scale-150 ease-in duration-300"></iconify-icon>
                <iconify-icon icon="devicon:tailwindcss" width="60" class="scale-100 hover:scale-150 ease-in duration-300"></iconify-icon>
                <iconify-icon icon="logos:bootstrap" width="60" class="scale-100 hover:scale-150 ease-in duration-300"></iconify-icon>
                <iconify-icon icon="logos:php" width="75" class="scale-100 hover:scale-150 ease-in duration-300"></iconify-icon>
                <iconify-icon icon="devicon:java" width="60" class="scale-100 hover:scale-150 ease-in duration-300"></iconify-icon>
                <iconify-icon icon="logos:python" width="60" class="scale-100 hover:scale-150 ease-in duration-300"></iconify-icon>
                <iconify-icon icon="logos:mysql" width="80" class="scale-100 hover:scale-150 ease-in duration-300"></iconify-icon>
                <iconify-icon icon="devicon:tensorflow" width="60" class="scale-100 hover:scale-150 ease-in duration-300"></iconify-icon>
            </div>
        </div>
    </div>

    <div class="right-side lg:col-start-9 lg:col-span-3 lg:order-2 order-1">
        <div class="lg:text-right text-center lg:text-8xl text-6xl lg:py-20 font-Bebas">
            ABOUT ME
        </div>
    </div>
</section>