<section class="contact-section lg:mx-10 mx-8 lg:py-20 py-12 text-lg">
    <div class="lg:px-20 lg:grid grid-cols-2 gap-3 justify-between">
        <div class="lg:text-left text-center lg:text-6xl text-4xl font-Bebas">
            Let's Talk
            <div class="contacts grid grid-cols-1 lg:content-start lg:justify-items-start content-center justify-items-center font-OpenSans">
                <div class="text-sm flex gap-4 mt-8 mb-4 lg:px-0 ">
                    <iconify-icon icon="iconamoon:email-fill" style="color: #ff942f;" width="30"></iconify-icon> 
                    nikojancasillan@gmail.com
                </div>
                <div class="text-sm flex gap-4 mb-8 lg:px-0">
                    <iconify-icon icon="carbon:location-filled" style="color: #ff942f;" width="30"></iconify-icon>
                    <p>Pangasinan, Philippines <br>
                        Manila, Philippines</p>
                </div>
            </div>
        </div>
    
        <div class="right-side">
            <form action="https://getform.io/f/b3c3efdf-b87d-4e3b-90a7-ba82c1b24b8d" method="POST">
                <label for="name">Name <span class="text-red-700">*</span></label>
                  <input 
                      class="my-3 py-2 text-black border border-solid border-gray-300 w-full focus:outline-none focus:border-blue-600 px-4" 
                      type="text" id="name" name="name" placeholder="Enter your name" required>
                <br>
                <label for="email">Email <span class="text-red-700">*</span></label>
                <input 
                      class="my-3 py-2 text-black border border-solid border-gray-300 w-full focus:outline-none focus:border-blue-600 px-4" 
                      type="email" id="email" name="email" placeholder="Enter your email" required>
                <br>
                <label for="subject">Subject <span class="text-red-700">*</span></label>
                <input 
                      class="my-3 py-2 text-black border border-solid border-gray-300 w-full focus:outline-none focus:border-blue-600 px-4" 
                      type="text" id="subject" name="subject" placeholder="Enter message's subject" required>
                <br>
                <label for="message">Message <span class="text-red-700 ">*</span></label>
                <textarea id="message" name="message" rows="5" class="my-3 py-2 text-black w-full focus:outline-none focus:border-blue-600 px-4" placeholder="Enter your message"></textarea> 
                <input type="submit" class="text-white bg-palette-100 rounded-2 px-3 py-1 border-0 rounded-md hover:bg-[#FFBB0C] hover:text-black" value="Send Message">
            </form>
        </div>
    </div>

</section>