<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv='cache-control' content='no-cache'> 
    <meta http-equiv='expires' content='0'> 
    <meta http-equiv='pragma' content='no-cache'>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="icon" href="../../assets/img/logo.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <title>Nikojan: A Personal Website</title>
</head>
<body class="font-Poppins">
    <div class="title p-5 text-center">
        <div class="proj-title text-3xl font-bold uppercase ">
            Mafumafu Website Design
        </div>
        <div class="proj-desc text-sm my-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quibusdam illum dolorem nulla. Iure molestias nisi provident accusantium ducimus minus, dolorem explicabo architecto saepe ut. Perspiciatis placeat soluta pariatur eius deserunt rerum vero quidem quae debitis magnam beatae tempore totam dolore, illum consequuntur earum voluptatum facilis corrupti nostrum ullam? Odit, doloremque fuga officiis quam omnis culpa sit provident sed molestias nobis corporis voluptates explicabo accusantium voluptas nostrum reprehenderit quibusdam veritatis ex necessitatibus impedit aliquid labore. Vitae beatae nesciunt dolor quae quis sed quos. Maxime quas deserunt culpa accusamus quod animi saepe iure explicabo vitae optio, dolorum, repudiandae modi cupiditate iusto?
        </div>
    </div>
    
    <div class="wrapper flex w-full gap-x-10 px-20">
        <div class="desktop-ui">
            <h1 class="text-2xl font-Lilita uppercase">Desktop View</h1>
            <h1 class="text-xl font-Lilita">Landing Page</h1>
            <img src="../../assets/img/mfmf/desk-landing.png" alt="Desktop-Landing-Page" class="pb-12">
            <h1 class="text-xl font-Lilita">Pre-saving Page Page</h1>
            <img src="../../assets/img/mfmf/desk-presave.png" alt="Desktop-Presave-Page" class="pb-12">
            <h1 class="text-xl font-Lilita">Profile Page</h1>
            <img src="../../assets/img/mfmf/desk-profile.png" alt="Desktop-Profile-Page" class="pb-12">
            <h1 class="text-xl font-Lilita">Discography Page</h1>
            <img src="../../assets/img/mfmf/desk-discography.png" alt="Desktop-Discography-Page" class="pb-12">
            <h1 class="text-xl font-Lilita">Album Track List</h1>
            <img src="../../assets/img/mfmf/desk-album.png" alt="Desktop-Album-Page" class="pb-12">
            <h1 class="text-xl font-Lilita">Schedule Page</h1>
            <img src="../../assets/img/mfmf/desk-schedule.png" alt="Desktop-Schedule-Page" class="pb-12">
        </div>
        <div class="mobile-ui">
            <h1 class="text-2xl font-Lilita uppercase">Mobile View</h1>
            <img src="../../assets/img/mfmf/mob-landing.png" alt="Mobile-Landing-Page" class="pb-8">
            <img src="../../assets/img/mfmf/mob-presave.png" alt="Mobile-Presave-Page" class="pb-8">
            <img src="../../assets/img/mfmf/mob-profile.png" alt="Mobile-Profile-Page" class="pb-8">
            <img src="../../assets/img/mfmf/mob-discography.png" alt="Mobile-Discography-Page" class="pb-8">
            <h1 class="text-xl font-Lilita">Album Track List</h1>
            <img src="../../assets/img/mfmf/mob-album.png" alt="Mobile-Album-Page" class="pb-8">
            <img src="../../assets/img/mfmf/mob-schedule.png" alt="Mobile-Schedule-Page" class="pb-8">
        </div>
    </div>
    <div class="wrapper w-full px-20">
        <h1 class="text-2xl font-Lilita uppercase">Miscellaneous</h1>
        <h1 class="text-xl font-Lilita">Promotional Material</h1>
        <img src="../../assets/img/mfmf/promotion.png" alt="Promotional-Paper" class="pb-8">
    </div>

    <div class="link justify-center items-center flex gap-2 pb-4">
        <iconify-icon icon="icon-park-solid:back" style="color: #c50;" width="30"></iconify-icon>
        <a href="../../index.html" class="text-center text-blue-800 hover:text-red-800 underline">Back to Main Page</a>
    </div>
    
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="../js/load-pages.js"></script>
</body>
</html>