<div class="absolute z-20 top-0 right-0 pr-24 pt-2">
    <iconify-icon id="close-btn" icon="ion:close" width="35" class="cursor-pointer"></iconify-icon>
</div>
<ul class="text-center">
    <li class="font-semibold my-2">  
        <a href="#landing-section">Home</a>
    </li>
    <li class="font-semibold my-2">
        <a href="#about">About</a>
    </li>
    <li class="font-semibold my-2">
        <a href="#portfolio">Portfolio</a>
    </li>
    <li class="font-semibold my-2">
        <a href="#contact">Contact Me</a>
    </li>
</ul>