<section class="portfolio-section md:mx-10 mx-8 md:py-20 py-12 text-lg">
    <div class="md:px-20">
        <div class="md:text-left text-center md:text-7xl text-4xl">
            PORTFOLIO
        </div>
    
        <div class="frontend-wrapper text-justify mt-4">
            <h2 class="font-bold text-3xl">Frontend Development Projects</h2>
            Working on it. . .
        </div>

        <div class="ui-ux mt-4">
            <h2 class="font-bold text-3xl mb-4">UI/UX</h2>  
            <div class="ui-project">
                <div class="proj-image">
                    <img src="assets/img/mfmf-internship.png">
                </div>
                <div class="px-4 w-1/2">
                    <div class="proj-title text-2xl font-bold">
                        Mafumafu Website Design
                    </div>
                    <div class="proj-desc text-base mt-2 text-justify">
                        From my internship, we have been tasked to create a portfolio for a music artist that we listen to. 
                        I chose Mafumafu, a Japanese singer, vocalist, and lyricist. <br><br>
                        This website design is inspired by how mysterious, transcendal, or other wordly his songs seem to be or means. It also reflects the mysterious vibe he gives.
                    </div>
                    <button id="btn-ui-proj" value="1" class="bg-blue-500 py-2 px-4 mt-4 rounded-2xl text-sm text-white hover:text-gray-100 hover:bg-blue-900">View the whole interface design</button>
                </div>
            </div>

            <hr class="w-full mt-8 border-2 border-yellow-600">

            <div class="ui-project my-8">
                <div class="proj-image order-2">
                    <img src="assets/img/kemrie-internship.png">
                </div>
                <div class="px-4 w-1/2 order-1">
                    <div class="proj-title text-2xl font-bold">
                        Kemrie Website Design
                    </div>
                    <div class="proj-desc text-base mt-2 text-justify">
                        As part of the final output for our internship, our supervisor assigned us to create a UI/UX design for Kemrie Barcenas. <br><br>
                        Unlike the former tasks, we have been given a color palette to work on. Regularly, feedbacks are given and the design is updated based from these.
                    </div>
                    <button id="btn-ui-proj" value="2" class="bg-blue-500 py-2 px-4 mt-4 rounded-2xl text-sm text-white hover:text-gray-100 hover:bg-blue-900">View the whole interface design</button>
                </div>
            </div>

            <hr class="w-full mt-8 border-2 border-yellow-600">
            
            <div class="ui-project my-8">
                <div class="proj-image order-1">
                    <img src="assets/img/placeholder-image.png">
                </div>
                <div class="px-4 w-1/2 order-2">
                    <div class="proj-title text-2xl font-bold">
                        Lorem Ipsum
                    </div>
                    <div class="proj-desc text-base mt-2 text-justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies eros vel dui porttitor consequat. Praesent ac ex vitae ante efficitur accumsan. Donec aliquam felis vitae dui iaculis venenatis. In hac habitasse platea dictumst. Cras egestas ligula at massa bibendum ullamcorper. <br><br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies eros vel dui porttitor consequat. Praesent ac ex vitae ante efficitur accumsan. Donec aliquam felis vitae dui iaculis venenatis. 
                    </div>
                    <button id="btn-ui-proj" value="2" class="bg-blue-500 py-2 px-4 mt-4 rounded-2xl text-sm text-white hover:text-gray-100 hover:bg-blue-900">View the whole interface design</button>
                </div>
            </div>


        </div>
    </div>
</section>