<section class="portfolio-section lg:mx-10 mx-8 lg:py-20 py-12 text-lg">
    <div class="lg:px-20">
        <div class="lg:text-left text-center lg:text-8xl text-6xl font-Bebas">
            WORKS
            <h2 class="text-xl mb-4">UI/UX | Frontend and Backend Development | Machine Learning</h2> 
        </div>
    
        <div class="ui-ux mt-8">
           <!-- <h2 class="font-bold text-3xl mb-4">UI/UX</h2>  -->
            <div class="ui-project">
                <div class="proj-image">
                    <img src="assets/img/mfmf-internship.png" class="hover:scale-125 ease-in duration-300">
                </div>
                <div class="proj-wrapper px-4 w-1/2">
                    <div class="proj-title text-3xl font-bold">
                        Mafumafu Website Design
                    </div>
                    <div class="proj-desc text-base mt-2 text-justify">
                        From my internship, we have been tasked to create a portfolio for a music artist that we listen to. 
                        I chose Mafumafu, a Japanese singer, vocalist, and lyricist. <br><br>
                        This website design is inspired by how mysterious, transcendal, or other wordly his songs seem to be or means. It also reflects the mysterious vibe he gives.
                    </div>
                    <button id="btn-ui-proj" onclick="loadWork(this.value)" value="1" class="gap-2 bg-gray-500 py-2 px-4 mt-4 rounded-2xl text-sm text-white hover:text-gray-100 hover:bg-gray-700">
                        Learn More <iconify-icon icon="formkit:arrowright" style="color: white;" width=""></iconify-icon></button>
                </div>
            </div>

            <hr class="w-full mt-8 border-2 border-yellow-600">

            <div class="ui-project my-8">
                <div class="proj-image lg:order-2">
                    <img src="assets/img/kemrie-internship.png" class="hover:scale-125 ease-in duration-300">
                </div>
                <div class="proj-wrapper px-4 w-1/2 lg:order-1">
                    <div class="proj-title text-3xl font-bold">
                        Kemrie Website Design
                    </div>
                    <div class="proj-desc text-base mt-2 text-justify">
                        As part of the final output for our internship, our supervisor assigned us to create a UI/UX design for Kemrie Barcenas. <br><br>
                        This is a work by pair and I spearheaded the utilization of technologies for this project and provided support in troubleshooting of the
                        dependencies used. Unlike the former tasks, we have been given a color palette to work on. Regularly, feedbacks are given and the design is updated based from these.
                    </div>
                    <button id="btn-ui-proj" onclick="loadWork(this.value)" value="2" class="gap-2 bg-gray-500 py-2 px-4 mt-4 rounded-2xl text-sm text-white hover:text-gray-100 hover:bg-gray-700">
                        Learn More <iconify-icon icon="formkit:arrowright" style="color: white;" width=""></iconify-icon></button>
                </div>
            </div>

            <hr class="w-full mt-8 border-2 border-yellow-600">
            
            <div class="ui-project my-8">
                <div class="proj-image order-1 flex lg:gap-x-2 gap-x-10">
                    <img src="assets/img/i-cbb/start.png" class="xl:w-1/3 lg:w-1/2 w-1/3 h-auto hover:scale-125 ease-in duration-300">
                    <img src="assets/img/i-cbb/main.png" class="xl:w-1/3 lg:w-1/2 w-1/3 h-auto hover:scale-125 ease-in duration-300"> 
                </div>
                <div class="proj-wrapper px-4 w-1/2 order-2">
                    <div class="proj-title text-3xl font-bold">
                        I-CBB: I See Bacterial Blight
                        <h1 class="text-base font-semibold">Prototype for our Thesis</h1>
                    </div>
                    <div class="proj-desc text-base mt-2 text-justify">
                        For our undergraduate study, we conducted a study on using machine learning and computer vision to detect probable bacterial blight infested cassava leaves. As such, we developed a mobile application that utilizes mobile camera or asks permission to access files to scan through cassava leaf images. <br><br>
                        Proactively, I designed the initial interface of the mobile application.
                    </div>
                    <button id="btn-ui-proj" onclick="loadWork(this.value)" value="3" class="gap-2 bg-gray-500 py-2 px-4 mt-4 rounded-2xl text-sm text-white hover:text-gray-100 hover:bg-gray-700">
                        Learn More <iconify-icon icon="formkit:arrowright" style="color: white;" width=""></iconify-icon></button>
                </div>
            </div>

            <hr class="w-full mt-8 border-2 border-yellow-600">

            <div class="ui-project my-8">
                <div class="proj-image lg:order-2">
                    <img src="assets/img/alexandria/alexandria.png" class="">
                </div>
                <div class="proj-wrapper px-4 w-1/2 lg:order-1">
                    <div class="proj-title text-3xl font-bold">
                        Alexandria: Automatic Book Genre Classifier
                    </div>
                    <div class="proj-desc text-base mt-2 text-justify">
                        For our final project in Data Mining, our course elective, we developed a system integrated with machine learning to automatically classify books by their genre. In addition, data analytics was done to determine frequently used keywords. <br><br>
                        In this collaborative project, I did UI/UX research to formulate designs for the system and collaborated with the UI/UX theme to wireframe and build a prototype using Figma.
                    </div>
                    <button id="btn-ui-proj" onclick="loadWork(this.value)" value="4" class="gap-2 bg-gray-500 py-2 px-4 mt-4 rounded-2xl text-sm text-white hover:text-gray-100 hover:bg-gray-700">
                        Learn More <iconify-icon icon="formkit:arrowright" style="color: white;" width=""></iconify-icon></button>
                </div>
            </div>
        </div>

        <h2 class="font-bold text-3xl text-left">Development Projects (Front-End/Back-End)</h2>
        <div class="wrapper-const font-Poppins w-full gap-4 pt-4">
            <div class="under-construct grid justify-items-center">
                <iconify-icon icon="openmoji:construction" width="150"></iconify-icon>
                <h1 class="text text-base text-brown-700">Under Construction. . .</h1>
            </div>
        </div>

        <!--Frontend Projects-->
        <div class="frontend-wrapper text-justify mt-4 order-2 grid grid-cols-2 gap-4">

            <!--FUTURE DEVELOPMENT: LOOP THROUGH THE CARDS-->

            <div class="frontend-project">
                <div class="title">
                    <main-title>VETCARES</main-title> <br>
                    <sub-title>Web Development Project</sub-title>
                </div>
                <div class="proj-image-frontend">
                    <img src="assets/img/vetcares.png" alt="">
                </div>
                <div class="tech-stack gap-x-2">
                    <h1>HTML</h1>
                    <h1>TailwindCSS</h1>
                    <h1>JavaScript</h1>
                    <h1>PHP</h1>
                    <h1>XAMPP</h1>
                </div>
                <div class="github" onclick="redirect_to_github(this)" data-value="vetcares">
                    <iconify-icon icon="mdi:github" width="35" style="color: black;"></iconify-icon>
                </div>
            </div>

            <div class="frontend-project">
                <div class="title">
                    <main-title>Kemrie Barcenas Website</main-title> <br>
                    <sub-title>Internship Project</sub-title>
                </div>
                <div class="proj-image-frontend">
                    <img id="kemrie" src="assets/img/kemrie-web01.png" alt="">
                </div>

                <div class="tech-stack gap-x-2">
                    <h1>HTML</h1>
                    <h1>TailwindCSS</h1>
                    <h1>JavaScript</h1>
                    <h1>VueJS</h1>
                </div>

                <div class="github" onclick="redirect_to_github(this)" data-value="kemrie">
                    <iconify-icon icon="mdi:github" width="35" style="color: black;"></iconify-icon>
                </div>
            </div>

            <div class="frontend-project">
                <div class="title">
                    <main-title>I-CBB: I See Bacterial Blight </main-title><br>
                    <sub-title>Thesis Prototype</sub-title>
                </div>
                <div class="proj-image-frontend">
                    <img src="assets/img/i-cbb/i-cbb-all.png" alt="">
                </div>
                <div class="tech-stack gap-x-2">
                    <h1>Android Studio</h1>
                    <h1>Java</h1>
                    <h1>Python</h1>
                    <h1>TensorFlow</h1>
                    <h1>Chaquopy</h1>
                </div>
                <div class="github" onclick="redirect_to_github(this)" data-value="icbb">
                    <iconify-icon icon="mdi:github" width="35" style="color: black;"></iconify-icon>
                </div>
            </div>

            <div class="frontend-project">
                <div class="title">
                    <main-title>POVERTY AND MALNUTRITION MONITORING SYSTEM</main-title> <br>
                    <sub-title>Software Engineering Project</sub-title>
                </div>
                <div class="proj-image-frontend">
                    <img src="assets/img/pmms.png" alt="">
                </div>
                <div class="tech-stack gap-x-2">
                    <h1>HTML</h1>
                    <h1>TailwindCSS</h1>
                    <h1>JavaScript</h1>
                    <h1>PHP</h1>
                    <h1>XAMPP</h1>
                </div>
                <div class="github" onclick="redirect_to_github(this)" data-value="pmms">
                    <iconify-icon icon="mdi:github" width="35" style="color: black;"></iconify-icon>
                </div>
            </div>

            <div class="frontend-project">
                <div class="title">
                    <main-title>Alexandria</main-title> <br>
                    <sub-title>Data Mining Project</sub-title>
                </div>
                <div class="proj-image-frontend">
                    <img src="assets/img/alexandria/alexandria.png" alt="">
                </div>
                <div class="tech-stack gap-x-2">
                    <h1>HTML</h1>
                    <h1>Bootstrap</h1>
                    <h1>JavaScript</h1>
                    <h1>Flask</h1>
                    <h1>MongoDB</h1>
                    <h1>TensorFlow</h1>
                </div>
                <div class="github" onclick="redirect_to_github(this)" data-value="alexandria">
                    <iconify-icon icon="mdi:github" width="35" style="color: black;"></iconify-icon>
                </div>
            </div>

            <div class="frontend-project">
                <div class="title">
                    <main-title>Lorem Ipsum</main-title> <br>
                    <sub-title>Lorem, ipsum dolor.</sub-title>
                </div>
                <div class="proj-image-frontend">
                    <img src="assets/img/placeholder-image.png" alt="placeholder">
                </div>
                <div class="tech-stack gap-x-2">
                    <h1>HTML</h1>
                    <h1>Bootstrap</h1>
                    <h1>JavaScript</h1>
                    <h1>Flask</h1>
                    <h1>MongoDB</h1>
                    <h1>TensorFlow</h1>
                </div>
                <div class="github" onclick="redirect_to_github(this)" data-value="">
                    <iconify-icon icon="mdi:github" width="35" style="color: black;"></iconify-icon>
                </div>
            </div>

        </div>
    </div>
</section>