<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv='cache-control' content='no-cache'> 
    <meta http-equiv='expires' content='0'> 
    <meta http-equiv='pragma' content='no-cache'>
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="icon" href="../../../../assets/img/logo.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script defer src="../../js/animate.js"></script>
    <title>I-CBB - Jan Nicole Casillan</title>
</head>
<body class="font-Poppins">
    <header class="flex justify-between items-center md:mx-10 mx-2 px-5 py-4 text-palette-500" id="home">
        <div class="logo">
            <ul>
                <li class="web-name font-bold font-Lilita text-3xl text-palette-300 tracking-widest animate hid-left"> nikojan </li>
            </ul>
        </div>

        <div class="menu md:hidden block">
            <iconify-icon id="menu-btn" icon="ion:menu" style="color: #ff942f;" width="50" class="cursor-pointer"></iconify-icon>

        </div>
        
        <div id="mobile-menu" class="mobile-menu hidden top-0 right-0 z-10 bg-palette-200 pl-16 pt-2 pr-2 pb-8 rounded-bl-full ">
            <div class="absolute z-20 top-0 right-0 pr-24 pt-2">
                <iconify-icon id="close-btn" icon="ion:close" width="35" class="cursor-pointer"></iconify-icon>
            </div>
            <ul class="text-center">
                <li class="font-semibold my-2">  
                    <a href="../../../index.html#landing-section">Home</a>
                </li>
                <li class="font-semibold my-2">
                    <a href="../../../index.html#about">About</a>
                </li>
                <li class="font-semibold my-2">
                    <a href="../../../index.html#portfolio">Portfolio</a>
                </li>
                <li class="font-semibold my-2">
                    <a href="../../../index.html#contact">Contact Me</a>
                </li>
            </ul>
        </div>

        <div class="nav-links hidden md:block">
            <ul class="flex gap-x-8">
                <li class="font-semibold my-2 animate hid-left">
                    <a href="../../../index.html#landing-section">Home</a>
                </li>
                <li class="font-semibold my-2 animate hid-left">
                    <a href="../../../index.html#about">About</a>
                </li>
                <li class="font-semibold my-2 animate hid-left">
                    <a href="../../../index.html#portfolio">Portfolio</a>
                </li>
                <li class="font-semibold my-2 animate hid-left">
                    <a href="../../../index.html#contact">Contact Me</a>
                </li>
            </ul>
        </div>
    </header>
    <div class="p-5 text-center">
        <div class="md:flex md:gap-2 md:items-center">
            <div class="text-sm px-4 md:px-16 md:w-3/5">
                <div class="proj-title text-[3rem] leading-none font-Playfair text-left font-bold uppercase text-palette-100">
                    i-CBB (I See Bacterial Blight)
                </div>
                <div class="authors font-Playfair text-palette-100 text-2xl font-semibold text-left my-4">
                    UI/UX Design / Front-End & Mobile Developement / Collaboration (Jan Nicole Casillan, M.C, J.F.O, J.T)
                </div>
                <div class="background text-palette-100 text-xl text-left my-2">
                    Background
                    <span class="text-sm text-black">
                        For our undergraduate study, we conducted a study on using machine learning and computer vision to detect probable bacterial blight infested cassava leaves. As such, we developed a mobile application that utilizes mobile camera or asks permission to access files to scan through cassava leaf images.
                        I proactively researched for detection application designs and created the initial interface of the mobile application.
                    </span>
                </div>
                <div class="objective text-palette-100 text-xl text-left my-2">
                    Objective.
                    <span class="text-sm text-black">
                        Develop a mobile application that can detect probable infected cassava leaves with bacterial blight. For such, detection models have also be developed and fine-tuned that was able to produce a high accuracy and reliable to give accurate results to data or images of cassava leaves outside of the dataset.
                    </span>
                </div>
            </div>
            <div class="misc w-2/5 hidden md:block">
                <img src="../../../assets/img/placeholder-image.png" alt="Promotional-Paper" class="pb-8">
            </div>
        </div>
    </div>
    
    <div class="wrapper w-full gap-x-10 px-8 md:px-20">
        <h1 class="text-xl font-Lilita uppercase">Technologies used in Development</h1>
        <div class="technology my-4 flex gap-4 items-center">
            <iconify-icon icon="logos:figma" width="53"></iconify-icon>
            <iconify-icon icon="devicon:androidstudio" width="80"></iconify-icon>
            <iconify-icon icon="devicon:java" width="80"></iconify-icon>
            <iconify-icon icon="logos:python" width="80"></iconify-icon>
            <iconify-icon icon="devicon:tensorflow" width="80"></iconify-icon>
        </div>
    </div>

    <div class="wrapper w-full px-20 md:hidden">
        <h1 class="text-2xl font-Lilita uppercase">Miscellaneous</h1>
        <h1 class="text-xl font-Lilita">Promotional Material</h1>
        <img src="../../../assets/img/mfmf/promotion.png" alt="Promotional-Paper" class="pb-8">
    </div>

    <div class="mx-5 mb-4 mt-4">
        <div class="link justify-center items-center flex gap-2 py-2">
            <a href="../../../index.html#portfolio" class="text-center p-4 border-2 border-palette-100 text-palette-500 hover:text-red-800 shadow-lg hover:shadow-xl">OTHER WORKS</a>
        </div>
    </div>
    
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="../js/expand-work.js"></script>
    <script src="../js/load-pages.js"></script>
</body>
</html>