<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv='cache-control' content='no-cache'> 
    <meta http-equiv='expires' content='0'> 
    <meta http-equiv='pragma' content='no-cache'>
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="icon" href="../../../../assets/img/logo.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script defer src="../../js/animate.js"></script>
    <title>Kemrie - Jan Nicole Casillan</title>
</head>
<body class="font-Poppins">
    <header class="flex justify-between items-center md:mx-10 mx-2 px-5 py-4 text-palette-500" id="home">
        <div class="logo">
            <ul>
                <li class="web-name font-bold font-Lilita text-3xl text-palette-300 tracking-widest animate hid-left"> nikojan </li>
            </ul>
        </div>

        <div class="menu md:hidden block">
            <iconify-icon id="menu-btn" icon="ion:menu" style="color: #ff942f;" width="50" class="cursor-pointer"></iconify-icon>

        </div>
        
        <div id="mobile-menu" class="mobile-menu hidden top-0 right-0 z-10 bg-palette-200 pl-16 pt-2 pr-2 pb-8 rounded-bl-full ">
            <div class="absolute z-20 top-0 right-0 pr-24 pt-2">
                <iconify-icon id="close-btn" icon="ion:close" width="35" class="cursor-pointer"></iconify-icon>
            </div>
            <ul class="text-center">
                <li class="font-semibold my-2">  
                    <a href="../../../index.html#landing-section">Home</a>
                </li>
                <li class="font-semibold my-2">
                    <a href="../../../index.html#about">About</a>
                </li>
                <li class="font-semibold my-2">
                    <a href="../../../index.html#portfolio">Portfolio</a>
                </li>
                <li class="font-semibold my-2">
                    <a href="../../../index.html#contact">Contact Me</a>
                </li>
            </ul>
        </div>

        <div class="nav-links hidden md:block">
            <ul class="flex gap-x-8">
                <li class="font-semibold my-2 animate hid-left">
                    <a href="../../../index.html#landing-section">Home</a>
                </li>
                <li class="font-semibold my-2 animate hid-left">
                    <a href="../../../index.html#about">About</a>
                </li>
                <li class="font-semibold my-2 animate hid-left">
                    <a href="../../../index.html#portfolio">Portfolio</a>
                </li>
                <li class="font-semibold my-2 animate hid-left">
                    <a href="../../../index.html#contact">Contact Me</a>
                </li>
            </ul>
        </div>
    </header>
    <div class="p-5 text-center">
        <div class="md:flex md:gap-2 md:items-center">
            <div class="text-sm px-4 md:px-16 md:w-3/5">
                <div class="proj-title text-[3rem] leading-none font-Playfair text-left font-bold uppercase text-palette-100">
                    KEMRIE BARCENAS
                </div>
                <div class="authors font-Playfair text-palette-100 text-2xl font-semibold text-left my-4">
                    UI/UX Design / Front-End Development / Collaboration (Jan Nicole Casillan, C.M.B)
                </div>
                <div class="background text-palette-100 text-xl text-left my-2">
                    Background.
                    <span class="text-sm text-black">
                        As part of the final output for our internship, our supervisor assigned us to create a UI/UX design for Kemrie Barcenas. This is a work by pair and I spearheaded the utilization of technologies for this project and provided support in troubleshooting of the
                        dependencies used. Unlike the former tasks, we have been given a color palette to work on. Regularly, feedbacks are given and the design is updated based from these.
                    </span>
                </div>
                <div class="objective text-palette-100 text-xl text-left my-2">
                    Objective.
                    <span class="text-sm text-black">
                        Create a music artist website for Kemrie Barcenas featuring her new songs and albums, a gallery for her images, a blog page, and a contact page that contains her business email and social media links. A user friendly admin page or content management page for non-tech savvy users should also be included and developed where the music artist or her management can easily update the contents of her website - images, blogs, songs, albums, etc. 
                    </span>
                </div>
            </div>
            <div class="misc w-2/5 hidden md:block">
                <div class="parent relative">
                    <img src="../../../assets/img/kemrie/kemrie-promotionall.png" alt="Promotional-Paper" class="absolute w-full z-10">
                    <div class="h-[300px] w-3/4 mt-[5%] ml-[12%] bg-gray-200 z-30 rotate-[70deg]"></div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="wrapper flex w-full gap-x-10 px-8 md:px-20">
        <div class="desktop-ui">
            <h1 class="text-2xl font-Lilita uppercase">Desktop View</h1>
        </div>
        <div class="mobile-ui">
            <h1 class="text-2xl font-Lilita uppercase">Mobile View</h1>
        </div>
    </div>

    <div class="wrapper w-full gap-x-10 px-8 md:px-20">
        <div class="components my-4">
            <h1 class="text-xl font-Lilita uppercase">Design Components</h1>
        </div>
        <h1 class="text-xl font-Lilita uppercase">Technologies used in Development</h1>
        <div class="technology my-4 flex gap-4 items-center">
            <iconify-icon icon="logos:figma" width="53"></iconify-icon>
            <iconify-icon icon="vscode-icons:file-type-html" width="90"></iconify-icon>
            <iconify-icon icon="logos:javascript" width="78"></iconify-icon>
            <iconify-icon icon="vscode-icons:file-type-css" width="90"></iconify-icon>
            <iconify-icon icon="devicon:vuejs" width="80"></iconify-icon>
        </div>
    </div>

    <div class="wrapper w-full px-20 hidden">
        <h1 class="text-2xl font-Lilita uppercase">Miscellaneous</h1>
        <h1 class="text-xl font-Lilita">Promotional Material</h1>
        <img src="../../../assets/img/mfmf/promotion.png" alt="Promotional-Paper" class="pb-8">
    </div>

    <div class="mx-5 mb-4 mt-4">
        <div class="link justify-center items-center flex gap-2 py-2">
            <a href="../../../index.html#portfolio" class="text-center p-4 border-2 border-palette-100 text-palette-500 hover:text-red-800 shadow-lg hover:shadow-xl">OTHER WORKS</a>
        </div>
    </div>
    
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="../../js/expand-work.js"></script>
    <script src="../../js/load-pages.js"></script>
</body>
</html>