<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv='cache-control' content='no-cache'> 
    <meta http-equiv='expires' content='0'> 
    <meta http-equiv='pragma' content='no-cache'>
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="icon" href="../../../../assets/img/logo.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script defer src="../../js/animate.js"></script>
    <title>Kemrie - Jan Nicole Casillan</title>
</head>
<body class="font-Poppins">
    <header class="text-palette-500 z-10 bg-white" id="navigation">
        <nav class="flex justify-between items-center md:mx-10 mx-2 px-5 py-4">
            <div class="logo">
                <ul>
                    <li class="web-name font-extrabold font-Poppins text-3xl text-palette-300 animate hid-left tracking-widest"> n<span>iko</span>j<span>an</span>. </li>
                </ul>
            </div>
    
            <!--MOBILE MENU-->
            <div class="mobile-btn md:hidden" id="mobile-btn">
                <div class="bar">
                </div>
            </div>

            <div class="nav-links hidden md:block">
                <ul class="flex gap-x-8">
                    <li class="font-semibold my-2 animate hid-left">
                        <a href="../../../index.html#landing-section">Home</a>
                    </li>
                    <li class="font-semibold my-2 animate hid-left">
                        <a href="../../../index.html#about">About</a>
                    </li>
                    <li class="font-semibold my-2 animate hid-left">
                        <a href="../../../index.html#portfolio">Portfolio</a>
                    </li>
                    <li class="font-semibold my-2 animate hid-left">
                        <a href="../../../index.html#contact">Contact Me</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!--Mobile Menu-->
    <div class="mobile-menu grid absolute h-[400px] w-full z-0" id="mobile-menu">
        <ul class="text-center">
            <li class="font-semibold mb-8 tracking-widest">  
                <a href="../../../index.html#landing-section">Home</a>
            </li>
            <li class="font-semibold my-8 tracking-widest">
                <a href="../../../index.html#about">About</a>
            </li>
            <li class="font-semibold my-8 tracking-widest">
                <a href="../../../index.html#portfolio">Portfolio</a>
            </li>
            <li class="font-semibold my-8 tracking-widest">
                <a href="../../../index.html#contact">Contact Me</a>
            </li>
            <li class="flex gap-2">
                <a href="https://github.com/kibalias" target="_blank">
                    <button class="mobile-menu-logo flex justify-center items-center gap-2 text-sm text-white border border-white p-2 rounded-xl bg-gray-600 hover:bg-[#FFBB0C]">
                        <iconify-icon icon="bxl:github" width="2em" class="hover:text-gray-700 text-[#f3f3f3]"></iconify-icon>
                    </button> 
                </a>
                <a href="https://www.linkedin.com/in/jan-nicole-casillan/" target="_blank">
                    <button class="mobile-menu-logo flex justify-center items-center gap-2 text-sm text-white border border-white p-2 rounded-xl bg-gray-600 hover:bg-[#FFBB0C]">
                        <iconify-icon icon="bxl:linkedin-square" class="hover:text-gray-700 text-[#f3f3f3]" width="2em"></iconify-icon>
                    </button>
                </a>
            </li>
        </ul>
    </div>

    <div class="warning mx-10 font-OpenSans bg-gray-400 rounded-xl py-4">
        
    </div>

    <div class="project-container mx-10 w-auto mt-4 bg-slate-100">
        <div class="proj-header px-4">
            <div class="image-header border border-gray-700 h-96">
                This is the image
            </div>
            <div class="header-title border border-gray-700 text-center">
                <h1 class="text-4xl font-Playfair font-bold tracking-widest py-2 px-4">Kemrie Barcenas</h1>
                <h2>A Music Artist's Website</h2>
                <h3 class="font-bold text-2xl font-OpenSans px-4 py-2 tracking-wider">Navigating Music and Persona of a Rising Star</h3>
            </div>
        </div>
        <div class="proj-body px-4 py-8 mx-4 border border-gray-600 font-OpenSans">
            <div class="proj-about md:flex grid mx-6 gap-12">
                <div class="overview">
                    <div class="role">
                        <h3 class="font-extrabold tracking-wider">ROLE</h3>
                        <p>UI/UX Designer, Front-end Developer</p>
                    </div>
                    <div class="tools py-4">
                        <h3 class="font-extrabold tracking-wider">TOOLS</h3>
                        <p>Figma, Photoshop, HTML, JavaScript, TailwindCSS, VueJS</p>
                    </div>
                    <div class="team py-4">
                        <h3 class="font-extrabold tracking-wider">TEAM</h3>
                        <p>Collaboration with C.M.B</p>
                    </div>
                    <div class="proto-button py-4">
                        <button class="flex gap-2 font-extrabold tracking-wider class px-4 py-3 rounded-lg bg-gray-500 text-white hover:bg-gray-700">
                            <iconify-icon icon="iconoir:xray-view" width="1.5rem" class="animate-spin"></iconify-icon>
                            VIEW PROTOTYPE</button>
                    </div>

                </div>
                <div class="background basis-2/3">
                    <div class="background-desc">
                        <h3 class="font-extrabold tracking-wider text-xl">BACKGROUND</h3>
                        <p>As part of the final output for our internship, our supervisor assigned us to create a UI/UX design for Kemrie Barcenas. This is a work by pair and I spearheaded the utilization of technologies for this project and provided support in troubleshooting of the
                            dependencies used. Unlike the former tasks, we have been given a color palette to work on. Regularly, feedbacks are given and the design is updated based from these.</p>
                    </div>
                    <div class="objectives py-6">
                        <h3 class="font-extrabold tracking-wider text-xl">OBJECTIVES</h3>
                        <ul class="list-disc list-outside pl-6">
                            <li>
                                Create a music artist website and design for Kemrie Barcenas featuring her new songs and albums, a gallery for her images, a blog page, and a contact page that contains her business email and social media links.
                            </li>
                            <li>
                                Development of a user friendly admin page or content management page for non-tech savvy users where the music artist or her management can easily update the contents of her website - images, blogs, songs, albums, etc.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-5 text-center">
        <div class="md:flex md:gap-2 md:items-center grid grid-cols-1">
            <div class="text-sm px-4 md:px-16 md:w-3/5 md:order-1 order-2">
                <div class="text-[3rem] leading-none font-Playfair text-left font-bold uppercase text-palette-100">
                    KEMRIE BARCENAS
                </div>
                <div class="authors font-Playfair text-palette-100 text-2xl font-semibold text-left my-4">
                    UI/UX Design / Front-End Development / Collaboration (Jan Nicole Casillan, C.M.B)
                </div>
                <div class="background text-palette-100 text-xl text-left my-2">
                    Background.
                    <span class="text-sm text-black">
                        As part of the final output for our internship, our supervisor assigned us to create a UI/UX design for Kemrie Barcenas. This is a work by pair and I spearheaded the utilization of technologies for this project and provided support in troubleshooting of the
                        dependencies used. Unlike the former tasks, we have been given a color palette to work on. Regularly, feedbacks are given and the design is updated based from these.
                    </span>
                </div>
                <div class="objective text-palette-100 text-xl text-left my-2">
                    Objective.
                    <span class="text-sm text-black">
                        Create a music artist website for Kemrie Barcenas featuring her new songs and albums, a gallery for her images, a blog page, and a contact page that contains her business email and social media links. A user friendly admin page or content management page for non-tech savvy users should also be included and developed where the music artist or her management can easily update the contents of her website - images, blogs, songs, albums, etc. 
                    </span>
                </div>
            </div>
            <div class="misc md:w-2/5 md:block md:order-2 order-1 mb-8">
                <div class="parent md:relative">
                    <img src="../../../assets/img/kemrie/kemrie-promotionall.png" alt="Promotional-Paper" class="md:absolute w-full z-10">
                    <div class="md:block hidden h-[300px] w-3/4 mt-[5%] ml-[12%] bg-gray-200 z-30 rotate-[70deg]"></div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="wrapper flex w-full gap-x-10 px-8 md:px-20">
        <div class="desktop-ui">
            <h1 class="text-2xl font-Lilita uppercase">Desktop View</h1>
        </div>
        <div class="mobile-ui">
            <h1 class="text-2xl font-Lilita uppercase">Mobile View</h1>
        </div>
    </div>

    <div class="wrapper w-full gap-x-10 px-8 md:px-20">
        <div class="components my-4">
            <h1 class="text-xl font-Lilita uppercase">Design Components</h1>
        </div>
        <h1 class="text-xl font-Lilita uppercase">Technologies used in Development</h1>
        <div class="technology my-4 flex gap-4 items-center">
            <iconify-icon icon="logos:figma" width="53"></iconify-icon>
            <iconify-icon icon="vscode-icons:file-type-html" width="90"></iconify-icon>
            <iconify-icon icon="logos:javascript" width="78"></iconify-icon>
            <iconify-icon icon="vscode-icons:file-type-css" width="90"></iconify-icon>
            <iconify-icon icon="devicon:vuejs" width="80"></iconify-icon>
        </div>
    </div>

    <div class="wrapper w-full px-20 hidden">
        <h1 class="text-2xl font-Lilita uppercase">Miscellaneous</h1>
        <h1 class="text-xl font-Lilita">Promotional Material</h1>
        <img src="../../../assets/img/mfmf/promotion.png" alt="Promotional-Paper" class="pb-8">
    </div>

    <div class="mx-5 mb-4 mt-4">
        <div class="link justify-center items-center flex gap-2 py-2">
            <a href="../../../index.html#portfolio" class="text-center px-4 py-2 border-2 border-palette-100 text-palette-500 hover:text-red-800 shadow-lg hover:shadow-xl">OTHER WORKS</a>
        </div>
    </div>
    
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="../../js/main.js"></script>
    <script src="../../js/load-pages.js"></script>
</body>
</html>