<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv='cache-control' content='no-cache'> 
    <meta http-equiv='expires' content='0'> 
    <meta http-equiv='pragma' content='no-cache'>
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="icon" href="../../../../assets/img/logo.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script defer src="../../js/animate.js"></script>
    <title>Mafumafu - Jan Nicole Casillan</title>
</head>
<body class="font-Poppins">
    <header class="flex justify-between items-center md:mx-10 mx-2 px-5 py-4 text-palette-500" id="home">
        <div class="logo">
            <ul>
                <li class="web-name font-extrabold font-Poppins text-3xl text-palette-300 animate hid-left tracking-widest"> n<span>iko</span>j<span>an</span>. </li>
            </ul>
        </div>

        <div class="menu md:hidden block">
            <iconify-icon id="menu-btn" icon="ion:menu" style="color: #ff942f;" width="50" class="cursor-pointer"></iconify-icon>

        </div>
        
        <div id="mobile-menu" class="mobile-menu hidden top-0 right-0 z-10 bg-palette-200 pl-16 pt-2 pr-2 pb-8 rounded-bl-full ">
            <div class="absolute z-20 top-0 right-0 pr-24 pt-2">
                <iconify-icon id="close-btn" icon="ion:close" width="35" class="cursor-pointer"></iconify-icon>
            </div>
            <ul class="text-center">
                <li class="font-semibold my-2">  
                    <a href="../../../index.html#landing-section">Home</a>
                </li>
                <li class="font-semibold my-2">
                    <a href="../../../index.html#about">About</a>
                </li>
                <li class="font-semibold my-2">
                    <a href="../../../index.html#portfolio">Portfolio</a>
                </li>
                <li class="font-semibold my-2">
                    <a href="../../../index.html#contact">Contact Me</a>
                </li>
            </ul>
        </div>

        <div class="nav-links hidden md:block">
            <ul class="flex gap-x-8">
                <li class="font-semibold my-2 animate hid-left">
                    <a href="../../../index.html#landing-section">Home</a>
                </li>
                <li class="font-semibold my-2 animate hid-left">
                    <a href="../../../index.html#about">About</a>
                </li>
                <li class="font-semibold my-2 animate hid-left">
                    <a href="../../../index.html#portfolio">Portfolio</a>
                </li>
                <li class="font-semibold my-2 animate hid-left">
                    <a href="../../../index.html#contact">Contact Me</a>
                </li>
            </ul>
        </div>
    </header>
    <div class="p-5 text-center">
        <div class="md:flex md:gap-2 md:items-center grid grid-cols-1">
            <div class="text-sm px-4 md:px-16 md:w-3/5 md:order-1 order-2">
                <div class="text-[3rem] font-Playfair text-left font-bold uppercase text-palette-100">
                    MAFUMAFU
                </div>
                <div class="authors font-Playfair text-palette-100 text-2xl font-semibold text-left my-4">
                    UI/UX Design / Individual (Jan Nicole Casillan)
                </div>
                <div class="background text-palette-100 text-xl text-left my-2">
                    Background.
                    <span class="text-sm text-black">
                        From my internship, we have been tasked to create a portfolio for a music artist that we listen to. I chose Mafumafu, a Japanese singer, vocalist, and lyricist. This website design is inspired by how mysterious, transcendal, or other wordly his songs seem to be or means. It also reflects the mysterious vibe he gives.
                    </span>
                </div>
                <div class="objective text-palette-100 text-xl text-left my-2">
                    Objective.
                    <span class="text-sm text-black">
                        Redesign Mafumafu's portfolio or website while still maintaining the current web pages from his old website and update the content of website for his current or most popular song. 
                    </span>
                </div>
            </div>
            <div class="misc md:w-2/5  md:block md:min-h-[320px] md:mb-20 md:order-2 order-1 mb-8">
                <div class="parent md:relative">
                    <img src="../../../assets/img/mfmf/promotion.png" alt="Promotional-Paper" class="md:absolute w-full z-20">
                    <div class="md:absolute md:block hidden h-[280px] w-full bg-gray-200 z-10 mt-[8%]"></div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="wrapper flex w-full gap-x-10 px-8 md:px-20">
        <div class="desktop-ui">
            <h1 class="text-2xl font-Lilita uppercase">Desktop View</h1>
            <h1 class="text-xl font-Lilita">Landing Page</h1>
            <img src="../../../assets/img/mfmf/desk-landing.png" alt="Desktop-Landing-Page" class="pb-12">
            <h1 class="text-xl font-Lilita">Pre-saving Page Page</h1>
            <img src="../../../assets/img/mfmf/desk-presave.png" alt="Desktop-Presave-Page" class="pb-12">
            <h1 class="text-xl font-Lilita">Profile Page</h1>
            <img src="../../../assets/img/mfmf/desk-profile.png" alt="Desktop-Profile-Page" class="pb-12">
            <h1 class="text-xl font-Lilita">Discography Page</h1>
            <img src="../../../assets/img/mfmf/desk-discography.png" alt="Desktop-Discography-Page" class="pb-12">
            <h1 class="text-xl font-Lilita">Album Track List</h1>
            <img src="../../../assets/img/mfmf/desk-album.png" alt="Desktop-Album-Page" class="pb-12">
            <h1 class="text-xl font-Lilita">Schedule Page</h1>
            <img src="../../../assets/img/mfmf/desk-schedule.png" alt="Desktop-Schedule-Page" class="pb-12">
        </div>
        <div class="mobile-ui">
            <h1 class="text-2xl font-Lilita uppercase">Mobile View</h1>
            <img src="../../../assets/img/mfmf/mob-landing.png" alt="Mobile-Landing-Page" class="pb-8">
            <img src="../../../assets/img/mfmf/mob-presave.png" alt="Mobile-Presave-Page" class="pb-8">
            <img src="../../../assets/img/mfmf/mob-profile.png" alt="Mobile-Profile-Page" class="pb-8">
            <img src="../../../assets/img/mfmf/mob-discography.png" alt="Mobile-Discography-Page" class="pb-8">
            <h1 class="text-xl font-Lilita">Album Track List</h1>
            <img src="../../../assets/img/mfmf/mob-album.png" alt="Mobile-Album-Page" class="pb-8">
            <img src="../../../assets/img/mfmf/mob-schedule.png" alt="Mobile-Schedule-Page" class="pb-8">
        </div>
    </div>

    <div class="wrapper flex w-full gap-x-10 px-8 md:px-20">
        <div class="components my-4">
            <h1 class="text-xl font-Lilita uppercase">Design Components</h1>
            <img src="../../../assets/img/mfmf/asset-sheet.png">
        </div>
    </div>

    <div class="wrapper w-full px-8 hidden">
        <h1 class="text-2xl font-Lilita uppercase">Miscellaneous</h1>
        <h1 class="text-xl font-Lilita">Promotional Material</h1>
        <img src="../../../assets/img/mfmf/promotion.png" alt="Promotional-Paper" class="pb-8">
    </div>

    <div class="mx-5 mb-4 mt-4">
        <div class="link justify-center items-center flex gap-2 py-2">
            <a href="../../../index.html#portfolio" class="text-center px-4 py-2 border-2 border-palette-100 text-palette-500 hover:text-red-800 shadow-lg hover:shadow-xl">OTHER WORKS</a>
        </div>
    </div>
    
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="../../js/expand-work.js"></script>
    <script src="../../js/load-pages.js"></script>
</body>
</html>