<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="icon" href="../../assets/img/logo.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <title>Page 404</title>
</head>
<body>
    <div class="wrapper h-screen flex justify-center items-center md:px-40 px-12 gap-4">
        <h1 class="font-bold text-3xl after:content-[''] border-r-2 border-red-500 pr-4">404</h1>
        <h2>This page cannot be found. It's either empty, doesn't exist, or under development.</h2>
    </div>

    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</body>
</html>