<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="icon" href="../../assets/img/logo.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <title>Page 404</title>
</head>
<body>
    <div class="wrapper-const font-Poppins w-full grid justify-items-center pt-20">
        <iconify-icon icon="openmoji:construction" width="300"></iconify-icon>
        <h1 class="text text-4xl text-blue-700">Under Construction!</h1>
    </div>

    <div class="link justify-center items-center flex gap-2 pb-4 py-12">
        <a href="../../../index.html" class="text-center text-blue-800 hover:text-red-800 underline">
            <iconify-icon icon="icon-park-solid:back" style="color: #c50;" width="30"></iconify-icon>
            Back to Main Page
        </a>
    </div>

    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</body>
</html>